body {
    background-color: gray; 
    font-family: Arial, sans-serif;
}

.container {
    background-color: #7ca7d1; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.canvas, .canvas2 {
    background-color: #eaecee;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    color: #0a0b0b;
}

button {
    margin-right: 10px;
}

input[type="color"] {
    margin-left: 10px;
}

.control-group, .font-tools, .color-control, .position-control, .background-control, .image-tools {
    margin-bottom: 15px;
}
